.setting_account {
    #controles {
        a {
            background-color: $preto;
            color: $branco;
        }
    }

    #tab-dados {
        .btn_salvar {
            background-color: $default;
            color: $branco;

            &:hover {
                background-color: $default_escuro;
                transition: 0.3s;
            }
        }
    }

    #tab-foto {
        .bloco_perfil {
            .avatar {
                img {
                    border-radius: 233px;
                    max-width: 50%;
                    margin-bottom: 2rem;
                }
            }

            span {
                display: table;
                margin: auto auto 2rem;
            }
        }

        #uploadImagem-form{
            .upload_foto {
                display: block;
                background-color: $preto;
                border: 1px solid $preto;
                border-radius: 5px;
                color: $branco;
                width: 200px;
                height: calc(2.25rem + 2px);
                margin-top: 1rem;
                margin: auto auto 2rem;

                &:hover {
                    cursor: pointer;
                }
            }

            #upload_foto {
                display: none;
            }

            .uploadOk {
                background-color: $default !important;
                border: 1px solid $default_escuro !important;
            }
        }
    }
}
